SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/bin/sh /home/dima/.config/autostart/CPU_perfomance.sh"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/bin/sh /home/dima/.config/autostart/CPU_powersave.sh"
